body {
    font-family: 'League Spartan', sans-serif;
    background: #3A4663;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px 24px 0px 31px;
}

header h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 29px;
    letter-spacing: -0.533333px;
    color: #FFFFFF;
}

header h2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
}

.output {
    background: #181F33;
    border-radius: 10px;
    height: 88px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
    width: 327px;
}

.output h1 {
    margin-right: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 37px;
    text-align: right;
    letter-spacing: -0.666667px;
    color: #FFFFFF;
    align-self: flex-end;
} 

.big-div {
    width: 327px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    column-gap: 13px;
    row-gap: 13px;
    background: #181F33;
    border-radius: 10px;
    padding: 24px;
}

button {
    border: 0px;
}

.button {
    background: #EAE3DC;
    box-shadow: inset 0px -4px 0px #B3A497;
    border-radius: 5px;
    width: 60px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.533333px;
    color: #434A59;
}

.del {
    background: #647198;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #FFFFFF;
    box-shadow: inset 0px -4px 0px #414E73;
}

.big-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.333333px;
    color: #FFFFFF;
}

.reset {
    background: #647198;
    box-shadow: inset 0px -4px 0px #414E73;
    border-radius: 5px;
    width: 133px;
    height: 64px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.equal {
    background: #D03F2F;
    box-shadow: inset 0px -4px 0px #93261A;
    border-radius: 5px;
    height: 64px;
    width: 133px;
}

.switch-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

/* toggle switch */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    height: 20px;
    width: 20.6px;
    appearance: none;
    background-color: #D03F2F;
    border-radius: 50%;
    opacity: 0;
  }
  input:hover {
    cursor: pointer;
  }
  .tri-state-toggle {
    display: flex;
    justify-content: center;
    border: 5px solid #242D44;
    border-radius: 50px;
    margin-left: 26px;
    background: #242D44;
  }
  #one {
    opacity: 1;
  }

  .numbers h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    color: #FFFFFF;
  }

  .numbers {
    position: absolute;
    right: 0px;
    top: -16px;
    width: 71px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }


